# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Environment variables
.env

# IDE / OS
.idea/
.vscode/
.DS_Store

CLAUDE.md